.text_stroke {
    color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.075rem;
    -webkit-text-stroke-color: #b3b3b3;
    @apply font-Synocopate py-2;
}



.about_links>li::after,
.mail_link a::after {
    display: block;
    content: '';
    border-bottom: 0.2px solid var(--borderColor);
    transform: scaleX(0);
    opacity: 0.75;
    /* transition: all 300ms ease-in-out; */
    transition: transform .75s cubic-bezier(.5, .1, 0, .99), border-bottom 0.5s linear;
    will-change: transform;
    @apply pb-1;
}

.about_links>li:hover::after,
.mail_link a:hover::after {
    transform: scaleX(1);
    transform-origin: 0% 50%;

}

.mail_link {
    @apply opacity-75 tracking-widest mt-10;
    width: 200px;
}

@media(min-width: 375px) {
    .about_links {
        @apply flex flex-row;
    }

    .about_links>li:nth-of-type(2) {
        @apply py-0 px-10;
    }
}

@media(min-width: 1024px) {
    .text_stroke {
        @apply py-0;
    }

    .mail_link {
        @apply text-[17px];
    }
}