.scroll_div {
    @apply hidden;
}

@media(min-width: 1024px) {
    .scroll_div {
        @apply flex justify-center items-center rounded-full flex-col;
        @apply h-[132px] w-[132px];
        z-index: 100;
    }

    .scroll_div::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 132px;
        background: url(/images/circle.svg);
        height: 132px;
        background-repeat: no-repeat;
        -webkit-animation: rotate-center 1s ease-in-out both;
        animation: rotate-center 0.5s ease-in-out both;
    }


    .arrow_cont:nth-of-type(2),
    .arrow_cont:nth-of-type(3) {
        margin-top: -14px !important;

    }

    .arrow_cont:nth-of-type(1) {
        animation: opac 2s ease-in-out 3s infinite;
    }

    .arrow_cont:nth-of-type(2) {
        animation: opac 1.5s ease-in-out 0.5s infinite;
    }

    .arrow_cont:nth-of-type(3) {
        animation: opac 2s ease-in-out 2s infinite;
    }


    @keyframes opac {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes rotate-center {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes rotate-center {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

}