/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --scrollColor: rgba(153, 153, 153, 0.425);
    --borderColor: #999;
    --spinOpacColor: rgba(80, 79, 79, 0.14);
    --menuColor: rgb(218, 215, 215);
    --spinColor: rgb(189, 189, 189);
    --menu-background-color: #272727;
}



body {
    background-color: #201f1f;
    overflow-x: hidden !important;
    font-family: 'Oxygen', sans-serif;
    color: #b3b3b3;
}


body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* @media (min-width: 1024px) {
    body::after {
        content: "";
        position: absolute;
        width: 200vw;
        height: 200vh;
        left: -50%;
        z-index: -1;
        top: -50%;
        overflow: hidden;


        background-image: url(/images/grain.png);
        animation: grain 1.5s steps(6) infinite;
    }

    @keyframes grain {

        0%,
        100% {
            transform: translate(0, 0);
        }

        10% {
            transform: translate(-5%, -10%);
        }

        30% {
            transform: translate(3%, -15%);
        }

        50% {
            transform: translate(12%, 9%);
        }

        70% {
            transform: translate(9%, 4%);
        }

        90% {
            transform: translate(-1%, 7%);
        }
    }
} */