/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --scrollColor: rgba(153, 153, 153, 0.425);
    --borderColor: #999;
    --cardColor: rgba(51, 50, 50, 0.429);
    --spinOpacColor: rgba(80, 79, 79, 0.14);
    --menuColor: rgb(218, 215, 215);
    --spinColor: rgb(189, 189, 189);
    --menu-background-color: #272727;
}


/* html {
    scroll-behavior: smooth;
} */


body {
    background-color: #201f1f;
    overflow-x: hidden !important;
    font-family: 'Oxygen', sans-serif;
    color: #b3b3b3;
    scroll-behavior: smooth;
}


.text_stroke {
    color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.075rem;
    -webkit-text-stroke-color: #b3b3b3;
    @apply tracking-wide font-semibold font-Synocopate leading-normal text-3xl text-center;

}


@media(min-width: 640px) {
    .text_stroke {
        @apply text-5xl;
    }
}

@media(min-width: 1024px) {
    .text_stroke {
        @apply text-[90px] leading-none font-bold text-left;
    }
}