@media(min-width: 1024px) {
    .scroll_div {
        @apply flex justify-center items-center rounded-full flex-col;
        @apply h-[132px] w-[132px];
    }

    .scroll_div::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 132px;
        background: url(/images/circle.svg);
        height: 132px;
        background-repeat: no-repeat;
    }


    .arrow_cont:nth-of-type(2)>span,
    .arrow_cont:nth-of-type(3)>span {
        margin-top: -9px !important;

    }

    .arrow_cont:nth-of-type(1) {
        animation: opac .5s ease-in-out .5s infinite;
    }

    .arrow_cont:nth-of-type(2) {
        animation: opac .5s ease-in-out 1s infinite;
    }

    .arrow_cont:nth-of-type(3) {
        animation: opac .5s ease-in-out 1.5s infinite;
    }


    @keyframes opac {
        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;
        }
    }

}