@media(min-width: 1024px) {
    .scroll_div {
        @apply flex justify-center items-center rounded-full flex-col;
        @apply h-[132px] w-[132px];
    }

    .scroll_div::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 132px;
        background: url(/images/circle.svg);
        height: 132px;
        background-repeat: no-repeat;
    }

}